header {
    height: 100vh;
    width: 80%;
}


.logo{
    width: 45px;
    margin:20px;
    width: 12%;
    text-align: center;
    opacity: 100%;
    height:auto;
    display:inline-block;
    max-width:100%;

}

.responsive-image-cover {
  height: auto;
  width: 100%;
  height: auto !important;
 
}


ul {
        list-style-type: none;
        padding: 0;
        overflow:hidden;
        text-transform: uppercase;
        display: inline-block;
    }

    /*hover colour in nav or over links in social */
    a:link,a:visited{
        margin:0 auto;
        display:block;
        width: 100px;
        color:#000000;
        text-align:center;
        padding:4px;
        text-decoration:none;
        text-transform:none;
        word-wrap: break-word;
    }
    a:hover, a:active {
        background-color:#EDCB98; 
        opacity: 1.0%;
        filter: alpha(opacity=100);
}
    
    li {
        display: inline-block;
    }



    #menu{
        text-align: center;
        background-color: #fff;
        text-transform: uppercase;
        width: 80%;
        display: inline-block;
        list-style-type: none;
        /*vertical centering in the nav bar */
        padding: 0px 0;
        height: 55px;
        font-family: 'Amatic SC', cursive; 
        position: relative;
        right: 175px;
        font-size: 19px;
        display: inline-block;
        max-width: 100%;
        height: auto !important;
        display: block !important;
    }



header h1{
    position: absolute;
    top : 40vh;
    left: 10;
    color: #000;
    font-size: 100px;
    font-weight: 100;
    width: 80%;
}

.scroller-container{
    position: absolute; 
    bottom: 0;
    left:0%;
    width: 80%;
    text-align: center;
}

.scroller-container a{
    font-size: 80px;
    color: #000000;
    opacity: 100%;
}

.scroller-container a:hover{
    opacity: 1;
}

section h1{
    margin-top: 80px;
}



h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Amatic SC', cursive; 
    font-size: 18px
}

p{
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 10px;
     font-family: 'Montserrat', sans-serif;

}

footer {
    height:200px;
    background-color:#ffffff;
    color:#000;
    width:100%;
    text-align:center;
    padding-top:0px;
    text-transform: uppercase
}



/*Contact*/

.single_contact_info{
padding-bottom: 21px;   
}
.single_contact_info h2{
text-transform: uppercase;
color: #3d3d3d;
font-size: 18px;
letter-spacing: 3px;
margin-bottom: 1px; 
font-family: Helvetica, Arial, sans-serif;
}
.single_contact_info p{
font-size: 15px;
color: #3d3d3d; 
}

.contact-form{
background-color: #f1f1f1;
padding: 30px;
font-family: Helvetica, Arial, sans-serif;
margin-right: 130px;
margin-left: 130px;
}
.contact-form .form-control{
height: 43px;
border-radius: 0px;
margin-bottom: 20px;
border: 0px solid #fff;
}
.contact-form #message{
    height: 104px;
}
.form_submit{
width: 100%;
background: #ffe6e6;
border-radius: 0px;
color: #000;
padding-top: 13px;
padding-bottom: 10px;
transition: all 1s; 
font-family: Helvetica, Arial, sans-serif;
}


.work-with {
padding-bottom: 60px;
padding-top: 10px;
}
.work-with h3{
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
}

/*Resume*/ 
.resume{
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    height:auto;
    display:inline-block;
    max-width:100%;
    font-family: 'Amatic SC', cursive; 
}


.signature{
    width:40%;
    display:inline-block;
}

.signature1{
    width:20%;
    display:inline-block;
}

.signature2{
    width:20%;
    margin-top: -30px;
    margin-bottom: -10px;
}

.signature3{
    width:20%;
    margin-top: -30px;
    margin-bottom: -10px;
}



.button {
    background-color: #EDCB98; 
    border:2px solid #EDCB98;
    color: black;
    padding: 10px 24px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Amatic SC', cursive; 

  
}

.copyright{
        font-family: 'Montserrat', sans-serif;
}


/*resume file css */

/*---------------------------------------
Template created by Christina Truong
for Ladies Learning Code 
http://ladieslearningcode.com
http://christinatruong.com
-----------------------------------------*/


/* GLOBAL STYLES
-----------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  /*This determines the font style for the paragraphs and text of the website.*/
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  /*To change the background image, change the file name in the url below*/
  background: url(../images/wave1.jpg) no-repeat fixed 50%;
  background-size: cover;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  /*This is the font for headings*/
  font-family:  
  font-weight: 400;
  margin: 0;
}
section h1, 
header h2 {
  text-transform: uppercase;
}
header h1 {
  /*This is the fancy font for your main heading*/
  font-family:  'Raleway', sans-serif;

  /*Make your main heading bigger or smaller by changing the number below.*/
  font-size: 80px;
}
header h2,
section h1 {
  font-size: 32px;
}
section h1 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* every other section element, 
starting with the second section */
section:nth-child(2n+1) { 
  background: #fefefe;

}
section:nth-child(2n+2) {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

/*Below determines the color of links on the site.*/
a {
  color: #EDCB98;
}

/*Below you change what color links will change to when you hover over them.*/
a:hover {
  color: white;
  text-decoration: none;
}

ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 5px;
}

.content-wrap {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0; 
  overflow: auto;
}


/* HEADER
----------*/
header {
  text-align: center;
  padding: 200px 50px;
}


/* ABOUT ME / PROFILE
----------------------*/
/*Change the way the word "Hello" looks by change the background: property color. */
.profile h1 {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
}
.profile .summary {
  float: left;
  width: 70%;
}
.profile-image {
  float: left;
  width: 27%;
  margin-right: 3%;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 50%;
}


/* WORK EXPERIENCE & EDUCATION
-------------------------------*/
/* job & education entries */
.item {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 0;
}
.item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}


/* WORK EXPERIENCE
-------------------*/
.work-experience .date {
  margin: 5px 0 20px 0;
  font-size: 12px;
}
.work-experience h3 {
  line-height: 1.25;
  font-size: 16px;
}
.work-experience a:hover {
  color: black;
}
.work-experience .details {
  float: left;
  width: 30%;
  padding-right: 30px;
}
.work-experience .description {
  font-size: 14px;
  width: 70%;
  float: right;
  margin-top: 5px;
}
.work-experience .description p:first-child {
  margin-top: 3px;
}

.company {
  /*These are the styles for the name of the places your worked in the Work Experience section*/
  font-family:  'Open Sans Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #EDCB98;
}

/* EDUCATION
-------------*/
.education h2 {
  text-transform: uppercase;
}
.education h3 {
  color: #EDCB98;
}


/* CONTACT & FOOTER 
--------------------*/
.contact {
  background: #111;
}
.contact p {
  margin: 0;
}
.contact p:first-of-type {
  margin-top: 35px;
}
.contact .social {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 30px;
}
.contact .social a {
  margin: 0 8px;
}

footer {
  clear: both;
  font-size: 12px;
  margin-top: 50px;
}



/* MEDIA QUERIES
--------------------*/
@media (max-width: 800px) {
  /* this is here just for testing */
  body {
    /*color: blue;*/
  }
  /* About section */
  .profile-image {
    width: 48%;
    float: right;
    margin: 0 0 15px 2%;
  }
  .profile .summary {
    width: auto; /* resets the width setting */
    /* or could also use width: 50% - if you don't want the text to wrap */
    float: none; /* removes the float */
  }
  .work-experience .details {
    float: none; /* removed float */
    width: 100%; /* auto will work as well */
    padding-right: 0px; /* don't need padding anymore now that it spans across the page */
  }
  .work-experience .description {
    width: 100%;
    float: none; /* removed float */
  }
}
@media (max-width: 600px) {
  header {
    padding: 75px 40px;
  } 
  header h1 {
    font-size: 45px;
  }
  header h2,
  section h1 {
    font-size: 24px;
  }
  .education h2 {
    font-size: 18px;
  }
  .contact .social {
    width: 100%; 
    float: left; 
    text-align: left; 
    margin-bottom: 20px;
  }
}




