header {
    height: 100vh;
    width: 80%;
}


.logo{
    width: 45px;
    margin:20px;
    width: 12%;
    text-align: center;
    opacity: 100%;
    height:auto;
    display:inline-block;
    max-width:100%;

}

.responsive-image-cover {
  height: auto;
  width: 100%;
  max-width: 100%;
  height: auto !important;
  display: block !important;
}


ul {
        list-style-type: none;
        padding: 0;
        overflow:hidden;
        text-transform: uppercase;
        display: inline-block;
    }

    /*hover colour in nav or over links in social */
    a:link,a:visited{
        margin:0 auto;
        display:block;
        width: 100px;
        color:#000000;
        text-align:center;
        padding:4px;
        text-decoration:none;
        text-transform:none;
        word-wrap: break-word;
    }
    a:hover, a:active {
        background-color:#EDCB98; 
        opacity: 1.0%;
        filter: alpha(opacity=100);
}
    
    li {
        display: inline-block;
    }



    #menu{
        text-align: center;
        background-color: #fff;
        text-transform: uppercase;
        width: 80%;
        display: inline-block;
        list-style-type: none;
        /*vertical centering in the nav bar */
        padding: 0px 0;
        height: 55px;
        font-family: 'Amatic SC', cursive; 
        position: relative;
        right: 175px;
        font-size: 19px;
        display: inline-block;
        max-width: 100%;
        height: auto !important;
        display: block !important;
    }



header h1{
    position: absolute;
    top : 40vh;
    left: 10;
    color: #000;
    font-size: 100px;
    font-weight: 100;
    width: 80%;
}

.scroller-container{
    position: absolute; 
    bottom: 0;
    left:0%;
    width: 80%;
    text-align: center;
}

.scroller-container a{
    font-size: 80px;
    color: #000000;
    opacity: 100%;
}

.scroller-container a:hover{
    opacity: 1;
}

section h1{
    margin-top: 80px;
}



h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Amatic SC', cursive; 
    font-size: 18px
}

p{
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 10px;
     font-family: 'Montserrat', sans-serif;

}

footer {
    height:200px;
    background-color:#ffffff;
    color:#000;
    width:100%;
    text-align:center;
    padding-top:0px;
    text-transform: uppercase
}



/*Contact*/

.single_contact_info{
padding-bottom: 21px;   
}
.single_contact_info h2{
text-transform: uppercase;
color: #3d3d3d;
font-size: 18px;
letter-spacing: 3px;
margin-bottom: 1px; 
font-family: Helvetica, Arial, sans-serif;
}
.single_contact_info p{
font-size: 15px;
color: #3d3d3d; 
}

.contact-form{
background-color: #f1f1f1;
padding: 30px;
font-family: Helvetica, Arial, sans-serif;
margin-right: 130px;
margin-left: 130px;
}
.contact-form .form-control{
height: 43px;
border-radius: 0px;
margin-bottom: 20px;
border: 0px solid #fff;
}
.contact-form #message{
    height: 104px;
}
.form_submit{
width: 100%;
background: #ffe6e6;
border-radius: 0px;
color: #000;
padding-top: 13px;
padding-bottom: 10px;
transition: all 1s; 
font-family: Helvetica, Arial, sans-serif;
}


.work-with {
padding-bottom: 60px;
padding-top: 10px;
}
.work-with h3{
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
}

/*Resume*/ 
.resume{
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    height:auto;
    display:inline-block;
    max-width:100%;
    font-family: 'Amatic SC', cursive; 
}


.signature{
    width:40%;
    display:inline-block;
}

.signature1{
    width:20%;
    display:inline-block;
}

.signature2{
    width:20%;
    margin-top: -30px;
    margin-bottom: -10px;
}

.signature3{
    width:20%;
    margin-top: -30px;
    margin-bottom: -10px;
}



.button {
    background-color: #EDCB98; 
    border:2px solid #EDCB98;
    color: black;
    padding: 10px 24px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Amatic SC', cursive; 

  
}

.copyright{
        font-family: 'Montserrat', sans-serif;
}



